In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv('Gangnam/graph_sensor_locations.csv')
df.index = df['index']
df = df.drop(columns=['index'])
idx_list = [96, 193, 192, 97, 369, 281, 98, 370, 282]

test_df = df.loc[idx_list]
latitude_list = []
for i in range(len(test_df)):
    latitude_list.append(test_df.iloc[i]['latitude'])
    
network = df[df['latitude'] == latitude_list[0]]
for i in range(1, len(latitude_list)):
    network = network.append(df[df['latitude'] == latitude_list[i]])
network

        sensor_id   latitude   longitude
index
96     1220026200  37.507297  127.033812
114    1220029700  37.507297  127.033812
194    1220027200  37.507297  127.033812
196    1220028300  37.507297  127.033812
193    1220028200  37.508758  127.038464
197    1220029100  37.508758  127.038464
368    1220027400  37.508758  127.038464
386    1220029900  37.508758  127.038464
192    1220029000  37.510331  127.043832
198    1220030100  37.510331  127.043832
280    1220027600  37.510331  127.043832
296    1220031100  37.510331  127.043832
97     1220022900  37.500810  127.036840
113    1220026300  37.500810  127.036840
459    1220024000  37.500810  127.036840
463    1220025300  37.500810  127.036840
369    1220024600  37.502584  127.042704
385    1220027500  37.502584  127.042704
458    1220025200  37.502584  127.042704
464    1220026100  37.502584  127.042704
281    1220025800  37.504507  127.048918
295    1220027700  37.504507  127.048918
457    1220026000  37.504507  127.048918
465    1220026900  37.504507  127.048918
98     1220019800  37.495840  127.039189
112    1220023000  37.495840  127.039189
393    1220022300  37.495840  127.039189
403    1220020600  37.495840  127.039189
370    1220021400  37.498509  127.044659
384    1220024700  37.498509  127.044659
394    1220023900  37.498509  127.044659
402    1220022200  37.498509  127.044659
282    1220023100  37.500543  127.050794
294    1220025900  37.500543  127.050794
395    1220025500  37.500543  127.050794
401    1220023800  37.500543  127.050794

In [3]:
direction = [
    's', 't', 'l', 'r',
    'l', 'r', 's', 't',
    'l', 'r', 's', 't',
    's', 't', 'l', 'r',
    's', 't', 'l', 'r',
    's', 't', 'l', 'r',
    's', 't', 'r', 'l',
    's', 't', 'r', 'l',
    's', 't', 'r', 'l'
] #manually script

network['dir'] = direction

int_sec = []
for i in range(9):
    for j in range(4):
        int_sec.append(i+1)
network['intersect'] = int_sec

network = network.sort_values(by=['intersect', 'dir'])
network = network.reset_index().drop(columns = ['index'])
sensor_id_list = network['sensor_id'].values

network

     sensor_id   latitude   longitude dir  intersect
0   1220027200  37.507297  127.033812   l          1
1   1220028300  37.507297  127.033812   r          1
2   1220026200  37.507297  127.033812   s          1
3   1220029700  37.507297  127.033812   t          1
4   1220028200  37.508758  127.038464   l          2
5   1220029100  37.508758  127.038464   r          2
6   1220027400  37.508758  127.038464   s          2
7   1220029900  37.508758  127.038464   t          2
8   1220029000  37.510331  127.043832   l          3
9   1220030100  37.510331  127.043832   r          3
10  1220027600  37.510331  127.043832   s          3
11  1220031100  37.510331  127.043832   t          3
12  1220024000  37.500810  127.036840   l          4
13  1220025300  37.500810  127.036840   r          4
14  1220022900  37.500810  127.036840   s          4
15  1220026300  37.500810  127.036840   t          4
16  1220025200  37.502584  127.042704   l          5
17  1220026100  37.502584  127.042704   r          5
18  1220024600  37.502584  127.042704   s          5
19  1220027500  37.502584  127.042704   t          5
20  1220026000  37.504507  127.048918   l          6
21  1220026900  37.504507  127.048918   r          6
22  1220025800  37.504507  127.048918   s          6
23  1220027700  37.504507  127.048918   t          6
24  1220020600  37.495840  127.039189   l          7
25  1220022300  37.495840  127.039189   r          7
26  1220019800  37.495840  127.039189   s          7
27  1220023000  37.495840  127.039189   t          7
28  1220022200  37.498509  127.044659   l          8
29  1220023900  37.498509  127.044659   r          8
30  1220021400  37.498509  127.044659   s          8
31  1220024700  37.498509  127.044659   t          8
32  1220023800  37.500543  127.050794   l          9
33  1220025500  37.500543  127.050794   r          9
34  1220023100  37.500543  127.050794   s          9
35  1220025900  37.500543  127.050794   t          9

In [4]:
distance = pd.read_csv('Gangnam/distances_gangnam.csv')
dist = pd.DataFrame(columns = ['from', 'to', 'cost'])

for i in range(len(distance)):
    data = distance.iloc[i]
    _from = data['from']
    _to = data['to']
    
    if(int(_from) in sensor_id_list) and (int(_to) in sensor_id_list):
        _from_int = network[network['sensor_id'] == _from.astype('int64')]['intersect']
        _to_int = network[network['sensor_id'] == _to.astype('int64')]['intersect']

        x = {'from': str(int(_from)), 'to': str(int(_to)), 'cost': data['cost'], 
            'from_int': str(int(_from_int)), 'to_int': str(int(_to_int))}
        dist = dist.append(x, ignore_index = True)
dist

           from          to        cost from_int to_int
0    1220026200  1220026200    0.000000        1      1
1    1220026200  1220022900  769.237889        1      4
2    1220026200  1220026300  769.237889        1      4
3    1220026200  1220024000  769.237889        1      4
4    1220026200  1220025300  769.237889        1      4
..          ...         ...         ...      ...    ...
523  1220026900  1220024600  588.465301        6      5
524  1220026900  1220027500  588.465301        6      5
525  1220026900  1220025200  588.465301        6      5
526  1220026900  1220026100  588.465301        6      5
527  1220026900  1220026900    0.000000        6      6

[528 rows x 5 columns]

In [11]:
network = network.astype({'sensor_id': str})

In [12]:
speed = pd.read_csv('Gangnam/speed_gangnam_0.csv').drop(columns=['Unnamed: 0'])
speed = speed[network['sensor_id'].values]
speed

,1220027200,1220028300,1220026200,1220029700,1220028200,1220029100,1220027400,1220029900,1220029000,1220030100,...,1220019800,1220023000,1220022200,1220023900,1220021400,1220024700,1220023800,1220025500,1220023100,1220025900
0,26.81,21.90,30.22,25.19,20.30,28.65,30.79,28.18,26.37,19.00,...,35.79,33.92,30.67,27.01,31.14,25.88,20.10,33.00,34.14,23.21
1,29.64,19.84,27.00,26.96,20.49,31.06,30.52,31.57,22.31,24.67,...,27.27,28.43,37.95,31.21,31.67,29.59,38.00,32.00,33.50,17.50
2,28.94,20.95,32.49,26.20,22.35,31.83,27.82,31.39,19.00,23.85,...,26.36,32.13,30.78,26.81,30.50,31.86,24.85,26.52,30.59,29.29
3,28.41,20.36,30.44,26.72,24.68,29.19,32.74,29.39,24.60,27.85,...,28.36,36.85,38.06,29.00,30.10,25.44,24.95,24.00,33.25,26.45
4,30.29,20.47,30.82,27.21,19.57,33.13,29.08,27.15,23.87,26.02,...,19.00,42.00,29.00,31.00,33.73,28.02,16.00,31.00,32.79,25.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,25.78,23.89,33.47,25.93,15.57,23.16,21.88,37.42,24.97,22.07,...,30.78,31.19,26.00,24.52,40.23,25.24,25.92,33.75,33.65,26.60
2876,27.20,23.04,33.22,28.45,14.22,25.27,23.90,36.46,24.42,20.99,...,29.18,26.26,28.22,19.00,32.95,23.81,26.76,24.54,30.02,28.92
2877,26.61,26.83,33.90,25.24,14.31,23.24,24.18,34.65,26.05,21.49,...,33.23,27.88,25.00,23.74,40.24,24.74,26.96,18.00,35.52,21.00
2878,27.83,28.97,31.51,28.05,14.21,26.31,25.17,32.84,25.08,21.82,...,33.36,28.83,30.86,24.44,39.29,33.94,25.88,27.54,36.36,30.36
2879,28.98,21.12,33.27,26.72,16.04,25.22,23.59,35.16,26.96,22.00,...,32.67,30.18,31.14,24.58,39.08,24.64,29.93,22.00,33.81,26.97

In [13]:
import copy

real_network = copy.deepcopy(network[:36])

In [14]:
real_edge_list = []

for i in range(9):
    left = real_network.iloc[0 + i * 4]['sensor_id']
    right = real_network.iloc[1 + i * 4]['sensor_id']
    bottom = real_network.iloc[2 + i * 4]['sensor_id']
    top = real_network.iloc[3 + i * 4]['sensor_id']
    
    tl_edge = {'from': top, 'to': left, 'cost': 10.0}
    lt_edge = {'from': left, 'to': top, 'cost': 10.0}
    tr_edge = {'from': top, 'to': right, 'cost': 10.0}
    rt_edge = {'from': right, 'to': top, 'cost': 10.0}
    bl_edge = {'from': bottom, 'to': left, 'cost': 10.0}
    lb_edge = {'from': left, 'to': bottom, 'cost': 10.0}
    br_edge = {'from': bottom, 'to': right, 'cost': 10.0}
    rb_edge = {'from': right, 'to': bottom, 'cost': 10.0}
    tb_edge = {'from': top, 'to': bottom, 'cost': 10.0}
    bt_edge = {'from': bottom, 'to': top, 'cost': 10.0}
    lr_edge = {'from': left, 'to': right, 'cost': 10.0}
    rl_edge = {'from': right, 'to': left, 'cost': 10.0}
    
    tt_edge = {'from': top, 'to': top, 'cost': 0.0}
    rr_edge = {'from': right, 'to': right, 'cost': 0.0}
    ll_edge = {'from': left, 'to': left, 'cost': 0.0}
    bb_edge = {'from': bottom, 'to': bottom, 'cost': 0.0}
    
    real_edge_list.append(tl_edge)
    real_edge_list.append(lt_edge)
    real_edge_list.append(tr_edge)
    real_edge_list.append(rt_edge)
    real_edge_list.append(bl_edge)
    real_edge_list.append(lb_edge)
    real_edge_list.append(br_edge)
    real_edge_list.append(rb_edge)
    real_edge_list.append(tb_edge)
    real_edge_list.append(bt_edge)
    real_edge_list.append(lr_edge)
    real_edge_list.append(rl_edge)
    real_edge_list.append(tt_edge)
    real_edge_list.append(rr_edge)
    real_edge_list.append(ll_edge)
    real_edge_list.append(bb_edge)

In [15]:
#Left - Right
real_edge_list.append({'from': '1220028300', 'to': '1220028200', 'cost': 441.323972})
real_edge_list.append({'from': '1220028200', 'to': '1220028300', 'cost': 441.323972})
real_edge_list.append({'from': '1220029100', 'to': '1220029000', 'cost': 504.734561})
real_edge_list.append({'from': '1220029000', 'to': '1220029100', 'cost': 504.734561})
real_edge_list.append({'from': '1220025300', 'to': '1220025200', 'cost': 553.587642})
real_edge_list.append({'from': '1220025200', 'to': '1220025300', 'cost': 553.587642})
real_edge_list.append({'from': '1220026100', 'to': '1220026000', 'cost': 588.465301})
real_edge_list.append({'from': '1220026000', 'to': '1220026100', 'cost': 588.465301})
real_edge_list.append({'from': '1220022300', 'to': '1220022200', 'cost': 566.517712})
real_edge_list.append({'from': '1220022200', 'to': '1220022300', 'cost': 566.517712})
real_edge_list.append({'from': '1220023900', 'to': '1220023800', 'cost': 586.582980})
real_edge_list.append({'from': '1220023800', 'to': '1220023900', 'cost': 586.582980})

#Top - Bottom
real_edge_list.append({'from': '1220026200', 'to': '1220026300', 'cost': 769.237889})
real_edge_list.append({'from': '1220026300', 'to': '1220026200', 'cost': 769.237889})
real_edge_list.append({'from': '1220022900', 'to': '1220023000', 'cost': 590.210453})
real_edge_list.append({'from': '1220023000', 'to': '1220022900', 'cost': 590.210453})
real_edge_list.append({'from': '1220027400', 'to': '1220027500', 'cost': 781.774840})
real_edge_list.append({'from': '1220027500', 'to': '1220027400', 'cost': 781.774840})
real_edge_list.append({'from': '1220024600', 'to': '1220024700', 'cost': 484.887242})
real_edge_list.append({'from': '1220024700', 'to': '1220024600', 'cost': 484.887242})
real_edge_list.append({'from': '1220027600', 'to': '1220027700', 'cost': 787.788717})
real_edge_list.append({'from': '1220027700', 'to': '1220027600', 'cost': 787.788717})
real_edge_list.append({'from': '1220025800', 'to': '1220025900', 'cost': 470.884550})
real_edge_list.append({'from': '1220025900', 'to': '1220025800', 'cost': 470.884550})

real_edge = pd.DataFrame(real_edge_list)
real_edge

           from          to        cost
0    1220029700  1220027200   10.000000
1    1220027200  1220029700   10.000000
2    1220029700  1220028300   10.000000
3    1220028300  1220029700   10.000000
4    1220026200  1220027200   10.000000
..          ...         ...         ...
163  1220024700  1220024600  484.887242
164  1220027600  1220027700  787.788717
165  1220027700  1220027600  787.788717
166  1220025800  1220025900  470.884550
167  1220025900  1220025800  470.884550

[168 rows x 3 columns]

In [16]:
sensor_ids = network['sensor_id'].values
normalized_k = 0.1
distance_df = real_edge

num_sensors = len(sensor_ids)
dist_mx = np.zeros((num_sensors, num_sensors), dtype=np.float32)
dist_mx[:] = np.inf

sensor_id_to_ind = {}
for i, sensor_id in enumerate(sensor_ids):
    sensor_id_to_ind[sensor_id] = i
    
for row in distance_df.values:
    if row[0] not in sensor_id_to_ind or row[1] not in sensor_id_to_ind:
        continue
    dist_mx[sensor_id_to_ind[row[0]], sensor_id_to_ind[row[1]]] = row[2]
    
distances = dist_mx[~np.isinf(dist_mx)].flatten()
std = distances.std()
adj_mx = np.exp(-np.square(dist_mx / std))

adj_mx[adj_mx < normalized_k] = 0

import pickle

with open('fully_observed_normal_network.pkl', 'wb') as f:
    pickle.dump([sensor_ids, sensor_id_to_ind, adj_mx], f, protocol=2)
    
speed.to_csv('fully_observed_normal_speed.csv')