In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv('data/train.csv')
df

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."
...,...,...,...,...,...,...,...,...,...
1710665,1404171463620000698,C,NaN,NaN,20000698,1404171463,A,False,"[[-8.612469,41.14602],[-8.612487,41.145993],[-..."
1710666,1404171367620000670,C,NaN,NaN,20000670,1404171367,A,False,"[[-8.610138,41.140845],[-8.610174,41.140935],[..."
1710667,1388745716620000264,C,NaN,NaN,20000264,1388745716,A,False,[]
1710668,1404141826620000248,B,NaN,12.0,20000248,1404141826,A,False,"[[-8.630712,41.154885],[-8.63073,41.154813],[-..."
1710669,1404157147620000079,B,NaN,34.0,20000079,1404157147,A,False,"[[-8.615538,41.140629],[-8.615421,41.140746],[..."

In [3]:
df = df.drop(columns={'TRIP_ID', 'CALL_TYPE', 'ORIGIN_CALL', 'ORIGIN_STAND', 'TAXI_ID', 'DAY_TYPE', 'MISSING_DATA'})
df

          TIMESTAMP                                           POLYLINE
0        1372636858  [[-8.618643,41.141412],[-8.618499,41.141376],[...
1        1372637303  [[-8.639847,41.159826],[-8.640351,41.159871],[...
2        1372636951  [[-8.612964,41.140359],[-8.613378,41.14035],[-...
3        1372636854  [[-8.574678,41.151951],[-8.574705,41.151942],[...
4        1372637091  [[-8.645994,41.18049],[-8.645949,41.180517],[-...
...             ...                                                ...
1710665  1404171463  [[-8.612469,41.14602],[-8.612487,41.145993],[-...
1710666  1404171367  [[-8.610138,41.140845],[-8.610174,41.140935],[...
1710667  1388745716                                                 []
1710668  1404141826  [[-8.630712,41.154885],[-8.63073,41.154813],[-...
1710669  1404157147  [[-8.615538,41.140629],[-8.615421,41.140746],[...

[1710670 rows x 2 columns]

In [4]:
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'], unit='s')

In [5]:
df = df[df['POLYLINE'] != '[]']

In [8]:
df['geometry']=''
df

C:\Users\skang\Anaconda3\envs\trejectory\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,TIMESTAMP,POLYLINE,geometry
0,2013-07-01 00:00:58,"[[-8.618643,41.141412],[-8.618499,41.141376],[...",
1,2013-07-01 00:08:23,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",
2,2013-07-01 00:02:31,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...",
3,2013-07-01 00:00:54,"[[-8.574678,41.151951],[-8.574705,41.151942],[...",
4,2013-07-01 00:04:51,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",
...,...,...,...
1710663,2014-01-02 11:00:27,"[[-8.60697,41.162283],[-8.60697,41.16231],[-8....",
1710665,2014-06-30 23:37:43,"[[-8.612469,41.14602],[-8.612487,41.145993],[-...",
1710666,2014-06-30 23:36:07,"[[-8.610138,41.140845],[-8.610174,41.140935],[...",
1710668,2014-06-30 15:23:46,"[[-8.630712,41.154885],[-8.63073,41.154813],[-...",
1710669,2014-06-30 19:39:07,"[[-8.615538,41.140629],[-8.615421,41.140746],[...",

In [9]:
i = 0
for test in tqdm(df.POLYLINE):
    flag = 0
    temp = test[2:-2]
    list = temp.split('],[')
    wkt = 'LINESTRING('
    for t in list:
        a = t.split(',')
        if (float(a[0]) < -8.6337 or float(a[0]) > -8.5984):
            continue
        if (float(a[1]) < 41.1403 or float(a[1]) > 41.1659):
            continue
        wkt += a[0] + ' '
        wkt += a[1] + ','
    wkt = wkt[:-1]
    wkt += ')'
    df['geometry'][i] = wkt
    i += 1
df.head()

  0%|                                                                                      | 0/1704769 [00:00<?, ?it/s]C:\Users\skang\Anaconda3\envs\trejectory\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  0%|                                                                         | 747/1704769 [00:04<2:33:51, 184.58it/s]C:\Users\skang\Anaconda3\envs\trejectory\lib\site-packages\pandas\core\indexing.py:1724: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer_missing(indexer, value)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1704769/1704769 [5:31:37<00:00, 85.68it/s]

,TIMESTAMP,POLYLINE,geometry
0,2013-07-01 00:00:58,"[[-8.618643,41.141412],[-8.618499,41.141376],[...","LINESTRING(-8.618643 41.141412,-8.618499 41.14..."
1,2013-07-01 00:08:23,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",LINESTRING)
2,2013-07-01 00:02:31,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...","LINESTRING(-8.612964 41.140359,-8.613378 41.14..."
3,2013-07-01 00:00:54,"[[-8.574678,41.151951],[-8.574705,41.151942],[...","LINESTRING(-8.610849 41.145876,-8.610012 41.14..."
4,2013-07-01 00:04:51,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",LINESTRING)

In [10]:
df.to_csv('DATA/prev.csv', index=False)

In [13]:
df = df.reset_index()
df

,index,TIMESTAMP,POLYLINE,geometry
0,0,2013-07-01 00:00:58,"[[-8.618643,41.141412],[-8.618499,41.141376],[...","LINESTRING(-8.618643 41.141412,-8.618499 41.14..."
1,1,2013-07-01 00:08:23,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",LINESTRING)
2,2,2013-07-01 00:02:31,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...","LINESTRING(-8.612964 41.140359,-8.613378 41.14..."
3,3,2013-07-01 00:00:54,"[[-8.574678,41.151951],[-8.574705,41.151942],[...","LINESTRING(-8.610849 41.145876,-8.610012 41.14..."
4,4,2013-07-01 00:04:51,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",LINESTRING)
...,...,...,...,...
1704764,1710663,2014-01-02 11:00:27,"[[-8.60697,41.162283],[-8.60697,41.16231],[-8....",
1704765,1710665,2014-06-30 23:37:43,"[[-8.612469,41.14602],[-8.612487,41.145993],[-...",
1704766,1710666,2014-06-30 23:36:07,"[[-8.610138,41.140845],[-8.610174,41.140935],[...",
1704767,1710668,2014-06-30 15:23:46,"[[-8.630712,41.154885],[-8.63073,41.154813],[-...",
1704768,1710669,2014-06-30 19:39:07,"[[-8.615538,41.140629],[-8.615421,41.140746],[...",

In [14]:
df = df.drop(columns={'index'})

,TIMESTAMP,POLYLINE,geometry
0,2013-07-01 00:00:58,"[[-8.618643,41.141412],[-8.618499,41.141376],[...","LINESTRING(-8.618643 41.141412,-8.618499 41.14..."
1,2013-07-01 00:08:23,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",LINESTRING)
2,2013-07-01 00:02:31,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...","LINESTRING(-8.612964 41.140359,-8.613378 41.14..."
3,2013-07-01 00:00:54,"[[-8.574678,41.151951],[-8.574705,41.151942],[...","LINESTRING(-8.610849 41.145876,-8.610012 41.14..."
4,2013-07-01 00:04:51,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",LINESTRING)
...,...,...,...
1704764,2014-01-02 11:00:27,"[[-8.60697,41.162283],[-8.60697,41.16231],[-8....",
1704765,2014-06-30 23:37:43,"[[-8.612469,41.14602],[-8.612487,41.145993],[-...",
1704766,2014-06-30 23:36:07,"[[-8.610138,41.140845],[-8.610174,41.140935],[...",
1704767,2014-06-30 15:23:46,"[[-8.630712,41.154885],[-8.63073,41.154813],[-...",
1704768,2014-06-30 19:39:07,"[[-8.615538,41.140629],[-8.615421,41.140746],[...",

In [17]:
df.loc[1]

TIMESTAMP                                  2013-07-01 00:08:23
POLYLINE     [[-8.639847,41.159826],[-8.640351,41.159871],[...
geometry                                           LINESTRING)
Name: 1, dtype: object

In [19]:
a = []
for i in tqdm(range(1704769)):
    if df['geometry'][i] == 'LINESTRING)':
        a.append(i)
    elif (df['geometry'][i] == ''):
        a.append(i)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1704769/1704769 [00:13<00:00, 130620.21it/s]

In [21]:
df2 = df.drop(a, axis=0)
df2

,TIMESTAMP,POLYLINE,geometry
0,2013-07-01 00:00:58,"[[-8.618643,41.141412],[-8.618499,41.141376],[...","LINESTRING(-8.618643 41.141412,-8.618499 41.14..."
2,2013-07-01 00:02:31,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...","LINESTRING(-8.612964 41.140359,-8.613378 41.14..."
3,2013-07-01 00:00:54,"[[-8.574678,41.151951],[-8.574705,41.151942],[...","LINESTRING(-8.610849 41.145876,-8.610012 41.14..."
5,2013-07-01 00:02:45,"[[-8.615502,41.140674],[-8.614854,41.140926],[...","LINESTRING(-8.615502 41.140674,-8.614854 41.14..."
6,2013-07-01 00:06:50,"[[-8.57952,41.145948],[-8.580942,41.145039],[-...","LINESTRING(-8.598663 41.148342,-8.600688 41.14..."
...,...,...,...
1698889,2014-06-29 17:48:46,"[[-8.617662,41.146245],[-8.617653,41.146254],[...","LINESTRING(-8.60697 41.162283,-8.60697 41.1623..."
1698890,2014-06-29 18:03:12,"[[-8.630118,41.157495],[-8.629911,41.157324],[...","LINESTRING(-8.612469 41.14602,-8.612487 41.145..."
1698891,2014-06-29 17:12:14,"[[-8.613333,41.154948],[-8.613342,41.15421],[-...","LINESTRING(-8.610138 41.140845,-8.610174 41.14..."
1698892,2014-06-29 17:58:39,"[[-8.61093,41.145678],[-8.61093,41.145714],[-8...","LINESTRING(-8.630712 41.154885,-8.63073 41.154..."
1698893,2014-06-29 17:17:43,"[[-8.654301,41.181129],[-8.654301,41.18112],[-...","LINESTRING(-8.615538 41.140629,-8.615421 41.14..."

In [22]:
df2 = df2.drop(columns={'POLYLINE'})
df2 = df2.reset_index()
df2

,index,TIMESTAMP,geometry
0,0,2013-07-01 00:00:58,"LINESTRING(-8.618643 41.141412,-8.618499 41.14..."
1,2,2013-07-01 00:02:31,"LINESTRING(-8.612964 41.140359,-8.613378 41.14..."
2,3,2013-07-01 00:00:54,"LINESTRING(-8.610849 41.145876,-8.610012 41.14..."
3,5,2013-07-01 00:02:45,"LINESTRING(-8.615502 41.140674,-8.614854 41.14..."
4,6,2013-07-01 00:06:50,"LINESTRING(-8.598663 41.148342,-8.600688 41.14..."
...,...,...,...
1211235,1698889,2014-06-29 17:48:46,"LINESTRING(-8.60697 41.162283,-8.60697 41.1623..."
1211236,1698890,2014-06-29 18:03:12,"LINESTRING(-8.612469 41.14602,-8.612487 41.145..."
1211237,1698891,2014-06-29 17:12:14,"LINESTRING(-8.610138 41.140845,-8.610174 41.14..."
1211238,1698892,2014-06-29 17:58:39,"LINESTRING(-8.630712 41.154885,-8.63073 41.154..."
1211239,1698893,2014-06-29 17:17:43,"LINESTRING(-8.615538 41.140629,-8.615421 41.14..."

In [23]:
df2 = df2.drop(columns={'index'})
df2

                  TIMESTAMP                                           geometry
0       2013-07-01 00:00:58  LINESTRING(-8.618643 41.141412,-8.618499 41.14...
1       2013-07-01 00:02:31  LINESTRING(-8.612964 41.140359,-8.613378 41.14...
2       2013-07-01 00:00:54  LINESTRING(-8.610849 41.145876,-8.610012 41.14...
3       2013-07-01 00:02:45  LINESTRING(-8.615502 41.140674,-8.614854 41.14...
4       2013-07-01 00:06:50  LINESTRING(-8.598663 41.148342,-8.600688 41.14...
...                     ...                                                ...
1211235 2014-06-29 17:48:46  LINESTRING(-8.60697 41.162283,-8.60697 41.1623...
1211236 2014-06-29 18:03:12  LINESTRING(-8.612469 41.14602,-8.612487 41.145...
1211237 2014-06-29 17:12:14  LINESTRING(-8.610138 41.140845,-8.610174 41.14...
1211238 2014-06-29 17:58:39  LINESTRING(-8.630712 41.154885,-8.63073 41.154...
1211239 2014-06-29 17:17:43  LINESTRING(-8.615538 41.140629,-8.615421 41.14...

[1211240 rows x 2 columns]

In [24]:
for i in range(13):
    if i != 12:
        df = df2[i*100000:(i+1)*100000]
        df.to_csv('data/tra' + str(i) + '.csv')
    else:
        df = df2[1200000:1211240]
        df.to_csv('data/tra' + str(i) + '.csv')