In [1]:
import pandas as pd
import numpy as np
from scipy import interpolate
import matplotlib.pyplot as plt

In [2]:
data_df = pd.read_csv('C:/Users/chanyoung/Desktop/RBFfitting/data/sach/saches_100.csv')

In [3]:
data_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,70.4,54.20,15.40,24.40,12.90,9.91,27.9,449.0,35.90,93.9,48.30
1,38.9,24.60,8.66,6.49,26.20,22.70,26.7,219.0,10.70,39.6,71.70
2,41.0,17.00,21.10,244.00,70.40,10.40,16.8,470.0,19.60,38.5,19.60
3,33.1,19.30,9.39,18.40,33.10,27.60,30.2,407.0,9.56,16.0,9.91
4,71.7,25.90,24.80,104.00,37.50,20.50,35.5,308.0,23.30,46.1,31.60
...,...,...,...,...,...,...,...,...,...,...,...
95,55.2,1.01,11.40,215.00,47.00,16.80,18.8,375.0,1.00,1.0,2.09
96,13.9,2.48,66.10,264.00,95.60,8.98,11.9,362.0,1.83,14.3,1.37
97,44.1,3.52,15.70,115.00,35.90,5.00,12.6,704.0,7.84,12.7,2.76
98,49.6,1.89,30.00,24.80,5.14,14.10,16.0,241.0,1.00,1.0,2.50
99,19.8,3.52,27.10,43.70,8.66,15.80,83.5,1186.0,4.70,26.4,6.04

In [4]:
a = list()
for col in data_df.columns:
    y = data_df[col].values
    x = np.array(list(data_df.index), dtype = float)
    xnew = np.arange(0,99, 0.5)
    f_quadr = interpolate.BSpline(x, y, k=2)
    y_new_quadr = f_quadr(xnew)
    a.append([y_new_quadr])
new_df = pd.DataFrame(np.concatenate(a).T, columns = data_df.columns)
new_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,184.850,142.6000,63.8700,562.1050,54.75000,-59.45500,12.3000,1756.000,141.90000,281.7500,-137.8000
1,139.700,108.5500,43.7175,329.6575,34.36250,-31.10625,19.3125,1220.125,99.46250,208.0500,-60.0375
2,102.950,80.0000,28.3600,161.0650,21.70000,-9.03000,24.1500,804.500,65.55000,147.6500,-1.1500
3,74.600,56.9500,17.7975,56.3275,16.76250,6.77375,26.8125,509.125,40.16250,100.5500,38.8625
4,54.650,39.4000,12.0300,15.4450,19.55000,16.30500,27.3000,334.000,23.30000,66.7500,60.0000
...,...,...,...,...,...,...,...,...,...,...,...
193,45.925,1.1975,17.5550,195.3925,48.14625,16.79750,18.8000,378.250,1.11375,2.6625,1.9750
194,34.550,1.7450,38.7500,239.5000,71.30000,12.89000,15.3500,368.500,1.41500,7.6500,1.7300
195,4.625,2.6675,72.2550,244.3925,96.74625,8.97750,11.9000,365.250,1.94375,15.9625,1.2550
196,-43.850,3.9650,118.0700,210.0700,124.48500,5.06000,8.4500,368.500,2.70000,27.6000,0.5500
197,-110.875,5.6375,176.1950,136.5325,154.51625,1.13750,5.0000,378.250,3.68375,42.5625,-0.3850

In [5]:
new_df.to_csv('./data/poly_sach_200.csv', index = False)

In [6]:
a = list()
for col in data_df.columns:
    y = data_df[col].values
    x = np.array(list(data_df.index), dtype = float)
    xnew = np.arange(0,99, 0.25)
    f_quadr = interpolate.BSpline(x, y, k=2)
    y_new_quadr = f_quadr(xnew)
    a.append([y_new_quadr])
new_df = pd.DataFrame(np.concatenate(a).T, columns = data_df.columns)
new_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,184.85000,142.600000,63.870000,562.105000,54.750000,-59.455000,12.300000,1756.00000,141.900000,281.750000,-137.800000
1,161.22500,124.887500,53.194375,437.899375,43.590625,-44.496562,16.078125,1473.03125,119.615625,243.237500,-96.559375
2,139.70000,108.550000,43.717500,329.657500,34.362500,-31.106250,19.312500,1220.12500,99.462500,208.050000,-60.037500
3,120.27500,93.587500,35.439375,237.379375,27.065625,-19.284062,22.003125,997.28125,81.440625,176.187500,-28.234375
4,102.95000,80.000000,28.360000,161.065000,21.700000,-9.030000,24.150000,804.50000,65.550000,147.650000,-1.150000
...,...,...,...,...,...,...,...,...,...,...,...
391,-17.29375,3.269375,93.623750,232.133125,110.329062,7.019375,10.175000,366.06250,2.293438,21.365625,0.931250
392,-43.85000,3.965000,118.070000,210.070000,124.485000,5.060000,8.450000,368.50000,2.700000,27.600000,0.550000
393,-75.04375,4.754375,145.593750,178.203125,139.214062,3.099375,6.725000,372.56250,3.163438,34.665625,0.111250
394,-110.87500,5.637500,176.195000,136.532500,154.516250,1.137500,5.000000,378.25000,3.683750,42.562500,-0.385000
395,-151.34375,6.614375,209.873750,85.058125,170.391562,-0.825625,3.275000,385.56250,4.260938,51.290625,-0.938750

In [7]:
new_df.to_csv('./data/poly_sach_400.csv', index = False)

In [8]:
a = list()
for col in data_df.columns:
    y = data_df[col].values
    x = np.array(list(data_df.index), dtype = float)
    xnew = np.arange(0,99, 0.1)
    f_quadr = interpolate.BSpline(x, y, k=2)
    y_new_quadr = f_quadr(xnew)
    a.append([y_new_quadr])
new_df = pd.DataFrame(np.concatenate(a).T, columns = data_df.columns)
new_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,184.850,142.6000,63.8700,562.1050,54.75000,-59.45500,12.3000,1756.000,141.90000,281.7500,-137.8000
1,175.148,135.3500,59.4559,510.5071,50.05450,-53.28345,13.8765,1639.205,132.73050,265.9460,-120.7375
2,165.782,128.3200,55.2336,461.4634,45.66800,-47.36280,15.3660,1527.220,123.90200,250.6740,-104.4300
3,156.752,121.5100,51.2031,414.9739,41.59050,-41.69305,16.7685,1420.045,115.41450,235.9340,-88.8775
4,148.058,114.9200,47.3644,371.0386,37.82200,-36.27420,18.0840,1317.680,107.26800,221.7260,-74.0800
...,...,...,...,...,...,...,...,...,...,...,...
985,-110.875,5.6375,176.1950,136.5325,154.51625,1.13750,5.0000,378.250,3.68375,42.5625,-0.3850
986,-126.506,6.0170,189.2972,117.1192,160.79760,0.35240,4.3100,380.980,3.90780,45.9540,-0.5996
987,-142.879,6.4115,202.8918,96.1373,167.17065,-0.43290,3.6200,383.970,4.14095,49.4785,-0.8234
988,-159.994,6.8210,216.9788,73.5868,173.63540,-1.21840,2.9300,387.220,4.38320,53.1360,-1.0564
989,-177.851,7.2455,231.5582,49.4677,180.19185,-2.00410,2.2400,390.730,4.63455,56.9265,-1.2986

In [9]:
new_df.to_csv('./data/poly_sach_1000.csv', index = False)