In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv('C:/Users/chanyoung/Desktop/RBFfitting/data/sach/saches_100.csv')

In [3]:
data_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,70.4,54.20,15.40,24.40,12.90,9.91,27.9,449.0,35.90,93.9,48.30
1,38.9,24.60,8.66,6.49,26.20,22.70,26.7,219.0,10.70,39.6,71.70
2,41.0,17.00,21.10,244.00,70.40,10.40,16.8,470.0,19.60,38.5,19.60
3,33.1,19.30,9.39,18.40,33.10,27.60,30.2,407.0,9.56,16.0,9.91
4,71.7,25.90,24.80,104.00,37.50,20.50,35.5,308.0,23.30,46.1,31.60
...,...,...,...,...,...,...,...,...,...,...,...
95,55.2,1.01,11.40,215.00,47.00,16.80,18.8,375.0,1.00,1.0,2.09
96,13.9,2.48,66.10,264.00,95.60,8.98,11.9,362.0,1.83,14.3,1.37
97,44.1,3.52,15.70,115.00,35.90,5.00,12.6,704.0,7.84,12.7,2.76
98,49.6,1.89,30.00,24.80,5.14,14.10,16.0,241.0,1.00,1.0,2.50
99,19.8,3.52,27.10,43.70,8.66,15.80,83.5,1186.0,4.70,26.4,6.04

In [4]:
from scipy import interpolate
import matplotlib.pyplot as plt

In [5]:
a = list()
for col in data_df.columns:
    y = data_df[col].values
    x = np.array(list(data_df.index), dtype = float)
    xnew = np.arange(0,99, 0.5)
    f_quadr = interpolate.interp1d(x, y, kind='quadratic')
    y_new_quadr = f_quadr(xnew)
    a.append([y_new_quadr])
new_df = pd.DataFrame(np.concatenate(a).T, columns = data_df.columns)
new_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,70.400000,54.200000,15.400000,24.400000,12.900000,9.910000,27.900000,449.000000,35.900000,93.900000,48.300000
1,49.243043,36.395949,8.473379,-35.058618,12.806298,20.834267,29.209547,257.070158,17.728376,58.200865,71.973873
2,38.900000,24.600000,8.660000,6.490000,26.200000,22.700000,26.700000,219.000000,10.700000,39.600000,71.700000
3,39.370872,18.812152,15.959864,149.045853,53.081106,15.507198,20.371360,334.789525,14.814871,38.097405,47.478380
4,41.000000,17.000000,21.100000,244.000000,70.400000,10.400000,16.800000,470.000000,19.600000,38.500000,19.600000
...,...,...,...,...,...,...,...,...,...,...,...
193,24.238171,3.282181,44.145613,197.434589,71.369823,5.530124,11.929914,577.007578,5.706941,16.087616,2.098997
194,44.100000,3.520000,15.700000,115.000000,35.900000,5.000000,12.600000,704.000000,7.840000,12.700000,2.760000
195,51.946205,2.699027,17.580186,56.893896,14.958267,9.088802,10.347662,452.939839,4.779952,5.102185,2.546059
196,49.600000,1.890000,30.000000,24.800000,5.140000,14.100000,16.000000,241.000000,1.000000,1.000000,2.500000
197,38.884598,2.163658,33.173271,20.402035,3.040578,16.337066,40.384113,485.353387,0.973349,8.099272,3.664647

In [6]:
new_df.to_csv('./data/poly_sach_200.csv', index = False)

In [11]:
a = list()
for col in data_df.columns:
    y = data_df[col].values
    x = np.array(list(data_df.index), dtype = float)
    xnew = np.arange(0,99, 0.25)
    f_quadr = interpolate.interp1d(x, y, kind='quadratic')
    y_new_quadr = f_quadr(xnew)
    a.append([y_new_quadr])
new_df = pd.DataFrame(np.concatenate(a).T, columns = data_df.columns)

In [12]:
new_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,70.400000,54.200000,15.400000,24.400000,12.900000,9.910000,27.900000,449.000000,35.900000,93.900000,48.300000
1,58.469782,44.546962,11.047534,-17.955213,11.167224,16.504450,29.032160,333.802619,25.421282,73.913149,63.130405
2,49.243043,36.395949,8.473379,-35.058618,12.806298,20.834267,29.209547,257.070158,17.728376,58.200865,71.973873
3,42.719782,29.746962,7.677534,-26.910213,17.817224,22.899450,28.432160,218.802619,12.821282,46.763149,74.830405
4,38.900000,24.600000,8.660000,6.490000,26.200000,22.700000,26.700000,219.000000,10.700000,39.600000,71.700000
...,...,...,...,...,...,...,...,...,...,...,...
391,51.819252,2.159178,24.945911,37.384957,9.084278,11.941167,10.832359,289.933266,2.420813,1.650911,2.371691
392,49.600000,1.890000,30.000000,24.800000,5.140000,14.100000,16.000000,241.000000,1.000000,1.000000,2.500000
393,45.288449,1.891493,32.742453,19.139026,3.125433,15.565300,25.850584,306.140040,0.517512,3.149454,2.930985
394,38.884598,2.163658,33.173271,20.402035,3.040578,16.337066,40.384113,485.353387,0.973349,8.099272,3.664647
395,30.388449,2.706493,31.292453,28.589026,4.885433,16.415300,59.600584,778.640040,2.367512,15.849454,4.700985

In [13]:
new_df.to_csv('./data/poly_sach_400.csv', index = False)

In [14]:
a = list()
for col in data_df.columns:
    y = data_df[col].values
    x = np.array(list(data_df.index), dtype = float)
    xnew = np.arange(0,99, 0.1)
    f_quadr = interpolate.interp1d(x, y, kind='quadratic')
    y_new_quadr = f_quadr(xnew)
    a.append([y_new_quadr])
new_df = pd.DataFrame(np.concatenate(a).T, columns = data_df.columns)
new_df

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,70.400000,54.200000,15.400000,24.400000,12.900000,9.910000,27.900000,449.000000,35.900000,93.900000,48.300000
1,65.303495,50.158542,13.445616,4.427698,11.802267,12.819536,28.467437,398.305257,31.374215,85.392311,54.950594
2,60.639547,46.357408,11.775762,-11.504315,11.244031,15.366731,28.882110,353.764901,27.294161,77.568554,60.643279
3,56.408156,42.796597,10.390438,-23.396039,11.225290,17.551584,29.144019,315.378933,23.659836,70.428727,65.378054
4,52.609321,39.476111,9.289644,-31.247473,11.746046,19.374097,29.253165,283.147352,20.471241,63.972831,69.154919
...,...,...,...,...,...,...,...,...,...,...,...
985,38.884598,2.163658,33.173271,20.402035,3.040578,16.337066,40.384113,485.353387,0.973349,8.099272,3.664647
986,35.737214,2.348311,32.698340,22.845953,3.546955,16.451583,47.508748,588.979251,1.418415,10.863301,4.042861
987,32.255063,2.576272,31.853548,26.397709,4.362085,16.455136,55.382655,710.856845,2.013614,14.075388,4.469503
988,28.438143,2.847541,30.638894,31.057302,5.485970,16.347722,64.005832,850.986168,2.758944,17.735534,4.944574
989,24.286455,3.162117,29.054378,36.824732,6.918608,16.129344,73.378281,1009.367219,3.654406,21.843738,5.468073

In [15]:
new_df.to_csv('./data/poly_sach_1000.csv', index = False)